@font-face { 
	font-family :American; 
	src : url('../font/american_typewriter .ttf') ; 
	font-family: 
 }
html{
	font-size: 16px;
	font-family: "Microsoft Yahei"
}
body{
	background-color: #ebebeb;
	/*min-height: 1000px;*/
}

::-webkit-input-placeholder { /* WebKit browsers */ 
color: #000; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #999; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #999; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #999; 
} 
option{
	color: #444;
}
.mycontainer{
	position:relative;
	/*width:100%;*/
	min-height:400px;
}
.header_bg{
	background: url(../img/bg.jpg);
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.myh1 a{
	font-size: 3rem;
	color: #fff;
	font-family: 'American';
	font-weight: 500;
	text-decoration: none;
}
.myh1 a:hover{
	color: #F1BB86;
}
.header_bg h2{
	font-size: 1.5rem;
	color: #fff;
	margin:5px auto;
	font-family: "Microsoft Yahei"
}
.navbar-default.mynav{
	background: #fff;
	box-shadow: 1px 2px 2px #bbb;
	border-radius: 0px;
	height: 10px;
}
.navbar-header img{
	width: 46px;
}
#mynav .navbar-brand{
	padding: 4px 15px;
}
.nav > li > a{
	padding: 15px 30px;
	font-size: 1rem;
}
.dropdown-menu{
	min-width:139px;
	border:1px solid #ccc;
	border-radius: 0px;
	box-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #663300;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: rgba(102,51,0,.4);
}
.homepage_word{
	border-bottom:2px solid #663300;
}
.my-form-input{
	margin-bottom: 0px;
}
.myinput{
	border-radius: 4px;
	border: 1px solid #663300;
	min-width: 300px;
	height: 35px;
}
.myinput:focus{
	border: 1px solid #663300;
	box-shadow: none;
}
.label_to_center{
	padding:20px 10px 5px 10px;
}
.mybtn{
	border-radius: 4px;
	color: #663300;
	border:none;
}
.navbar{
	margin-bottom: 0px;
}
.mybtn:hover{
	background-color: rgba(102,51,0,.4);
}
.mybtn:focus{
	box-shadow: none;
	border: none;
}
.login,.signup{
	background-color: #fff;
	min-height: 200px;
	width: 70%;
	margin:20px auto;
	display: none;
}
.verify,.changePwd,.newPwd{
	background-color: #fff;
	min-height: 200px;
	width: 40%;
	margin:20px auto;
	display: none;
}
.firstrow{
	padding-top: 30px;
}
.col-sm-4 a{
	font-size: 0.8rem;
	color: #666;
	text-decoration: none;
	cursor: pointer;
}
.myclose{
	margin: 20px;
	padding-top: 15px;
	font-size: 1.6rem;
	color: #F37B7B;
	opacity: 1;
	float: right;
}
.myclose:hover{
	color: #F33F3F;
}
.alert{
	display: none;
}
.input_icon,.input_icon_s{
	position: relative;
	top: 31px;
	left: 10px;
	font-size: 1rem;
	color: #999;
}
.input_icon_textarea{
	position: relative;
	top: 28px;
	left: 10px;
	font-size: 1rem;
	color: #999;
}
.button_margin{
	margin-top: 20px;
	margin-bottom: 10px;
}
.bookTabs,.chart_div,.info_div,.orderTabs{
	background-color: #fff;
	/*min-height: 200px;*/
	width: 70%;
	margin:40px auto 40px auto;
	border-radius: 4px;
}
.bookTabs span,.chart_div span,.info_div span{
	color: #663300;
}
.bookTabs a,.orderTabs a{
	color: #663300;
}
.bookTabs .list-group-item{
	border-bottom: 1px solid #ddd;
	border-left: 0px;
	border-radius: 0px;
	padding-bottom: 20px;
}
.bookTabs .list-group-item:last-child{
	border-left: 0px;
	border-radius: 0px;
	border-bottom: 0px solid #ddd;
	padding-bottom: 20px;
}
.bookTabs .row{
	padding: 4px 5px;
}
.bookTabs img{
	width: 50%;
	margin-left: 40px;
}
.bookImg{
	padding-left: 0px;
	padding-right: 0px;
	width: 20%;
}
.bookInfo{
	margin-left: 40px;
	margin-right: 60px;
	display: none;
}
.chart_div .list-group-item{
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 0px;
	/*border-right: 1px solid #ddd;*/
	border-radius: 0px;
	padding-bottom: 45px;
}
.chart_div h4,.info_div h4{
	padding: 10px auto;
	text-align: center;
}
.chart_div img{
	width: 60%;
}
.chart_div .row{
	height: 50px;
}
.chartImg{
	padding-left: 0px;
	padding-right: 0px;
	width: 13%;
}
.orderImg{
	padding-left: 0px;
	padding-right: 0px;
	width: 13%;
	margin-left: 70px;
}
.checkBox{
	text-align: center;
	margin: 25px auto;
}
.chart_div label{
	cursor: pointer;
	font-size: 1rem;
}
.confirmChart{
	margin: auto;
	text-align: center;
	width: 30%;
}
.confirmChart .btn{
	width: 100%;
}
.info_div{
	margin-top: 0px;
	/*font-size: 1rem;*/
}
.info_div .row{
	padding: 3px 2px 8px 2px;
}
.confirmDiv{
	width: 60%;
}
.info_div{
	width: 60%;
}
.page{
	background: none;
}
.nextp{
	
}
.lastp{
	
}
/*——————————————————————————————订单——————————————————————————————*/
#orders span{
	color: #663300;
}
.order1row{
	padding: 5px 0px;
	background-color: #F6E8DC;
}
.firstli{
	padding-top: 0px;
}
.orderTabs{
	width: 60%;
}
.orderTabs img{
	width: 60%;
	margin-left: 10px;
}
.orderTabs .row{
	padding: 5px 0px;
}
/*——————————————————————————————footer——————————————————————————————*/
footer{
	background-color: #fff;
	height: 100%;
}
.myfooter{
	width: 100%;
	margin:40px auto 80px auto;
	min-height: 40px;
	text-align: center;
}
.footerrow{
	width: 70%;
	margin:auto;
	border-bottom: 1px solid #ccc;
	padding: 15px 5px 5px 5px;
	font-size: 0.5rem;
	vertical-align: middle;
}
.footerrow a{
	text-decoration: none;
	color: #999;
}
.footerrow a:hover{
	text-decoration: none;
	color: #3399CC;
}
.footerrow .col-sm-1,.footerrow2 .col-sm-1{
	padding: 0px 1px;
}
.footericon{
	font-size:1.5rem;
	margin: 0px 10px;
}
.footerrow2{
	width: 70%;
	margin:auto;
	padding: 15px 5px 5px 5px;
	vertical-align: middle;
	font-size: 0.5rem;
}
.footerrow2 span{
	font-size: 0.5rem;
	color: #999;
}
.name{
	display: inline-block;
}
.nameborder{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0px 3px;
}
.myfooter{
	margin-bottom: 0px;
}
.input_icon_s{
	top: 2px;
	left: 30px;
}



















