@font-face { 
	font-family :American; 
	src : url('../font/american_typewriter .ttf') ; 
	font-family: 
 }
html{
	font-size: 16px;
	font-family: "Microsoft Yahei"
}
body{
	background-color: #ebebeb;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #000; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #999; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #999; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #999; 
} 
option{
	color: #444;
}
.header_bg{
	background: url(../img/bg.jpg);
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.myh1 a{
	font-size: 3rem;
	color: #fff;
	font-family: 'American';
	font-weight: 500;
	text-decoration: none;
}
.myh1 a:hover{
	color: #F1BB86;
}
.header_bg h2{
	font-size: 1.5rem;
	color: #fff;
	margin:5px auto;
	font-family: "Microsoft Yahei"
}
.navbar-default.mynav{
	background: #fff;
	box-shadow: 1px 2px 2px #bbb;
	border-radius: 0px;
	height: 10px;
}
.navbar-header img{
	width: 46px;
}
#mynav .navbar-brand{
	padding: 4px 15px;
}
.nav > li > a{
	padding: 15px 30px;
	font-size: 1rem;
}
.dropdown-menu{
	min-width:139px;
	border:1px solid #ccc;
	border-radius: 0px;
	box-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #663300;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: rgba(102,51,0,.4);
}
.homepage_word{
	border-bottom:2px solid #663300;
}
.my-form-input{
	margin-bottom: 0px;
}
.myinput{
	border-radius: 4px;
	border: 1px solid #663300;
	min-width: 300px;
	height: 35px;
}
.myinput:focus{
	border: 1px solid #663300;
	box-shadow: none;
}
.label_to_center{
	padding:20px 10px 5px 10px;
}
.mybtn{
	border-radius: 4px;
	color: #663300;
	border:none;
}
.navbar{
	margin-bottom: 0px;
}
.mybtn:hover{
	background-color: rgba(102,51,0,.4);
}
.mybtn:focus{
	box-shadow: none;
	border: none;
}
.login,.signup{
	background-color: #fff;
	min-height: 200px;
	width: 70%;
	margin:20px auto;
	display: none;
}
.verify,.changePwd,.newPwd{
	background-color: #fff;
	min-height: 200px;
	width: 40%;
	margin:20px auto;
	display: none;
}
.firstrow{
	padding-top: 30px;
}
.col-sm-4 a{
	font-size: 0.8rem;
	color: #666;
	text-decoration: none;
	cursor: pointer;
}
.myclose{
	margin: 20px;
	padding-top: 15px;
	font-size: 1.6rem;
	color: #F37B7B;
	opacity: 1;
	float: right;
}
.myclose:hover{
	color: #F33F3F;
}
.alert{
	display: none;
}
.input_icon{
	position: relative;
	top: 31px;
	left: 10px;
	font-size: 1rem;
	color: #999;
}
.input_icon_textarea{
	position: relative;
	top: 28px;
	left: 10px;
	font-size: 1rem;
	color: #999;
}
.button_margin{
	margin-top: 20px;
	margin-bottom: 10px;
}
.bookTabs,.chart_div,.info_div{
	background-color: #fff;
	/*min-height: 200px;*/
	width: 70%;
	margin:40px auto 20px auto;
	border-radius: 4px;
}
.bookTabs,.chart_div,.info_div span{
	color: #663300;
}
.bookTabs a{
	color: #663300;
}
.bookTabs .list-group-item{
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	/*border-right: 1px solid #ddd;*/
	border-radius: 0px;
	padding-bottom: 20px;
}
.bookTabs .row{
	padding: 4px 5px;
}
.bookTabs img{
	width: 50%;
	margin-left: 40px;
}
.bookImg{
	padding-left: 0px;
	padding-right: 0px;
	width: 20%;
}
.bookInfo{
	margin-left: 40px;
	margin-right: 60px;
	display: none;
}
.chart_div .list-group-item{
	border-bottom: 1px solid #ddd;
	border-left: 0px;
	/*border-right: 1px solid #ddd;*/
	border-radius: 0px;
	padding-bottom: 45px;
}
.chart_div,.info_div h4{
	padding: 10px auto;
	text-align: center;
}
.chart_div img{
	width: 60%;
}
.chart_div .row{
	height: 50px;
}
.chartImg{
	padding-left: 0px;
	padding-right: 0px;
	width: 13%;
}
.checkBox{
	text-align: center;
	margin: 25px auto;
}
.chart_div label{
	cursor: pointer;
	font-size: 1rem;
}
.confirmChart{
	margin: auto;
	text-align: center;
	width: 30%;
}
.confirmChart .btn{
	width: 100%;
}
.info_div{
	margin-top: 0px;
	font-size: 1rem;
}
.info_div .row{
	padding: 5px 2px;
}




































