<footer>
    <div class="row myfooter">
        <div class="row footerrow">
            <div class="col-sm-1 "><a href="/">首页</a></div>
            <div class="col-sm-1"><a href="">新用户注册</a></div>
            <div class="col-sm-1"><a href="">搜索书籍</a></div>
            <div class="col-sm-1"><a href="shoppingchart">我的购物车</a></div>
            <div class="col-sm-1"><a href="">帮助中心</a></div>
            <div class="col-sm-offset-9">
                <a href="" class="icon-github-alt footericon"></a>
                <a href="" class="icon-twitter-sign footericon"></a>
            </div>
        </div>
        <div class="row footerrow2">
            <div class="col-sm-1" style="text-align:left"><img style="width:100%;margin-left:25px " src="../static/img/footer.png"></div>
            <div class="col-sm-4 col-sm-offset-3" style="text-align:right"><span>Copyright © ONLINE BOOKSTOR 我的网上书店</span></div>
            <div class="name" ><span>71Y13123梁界</span></div>
            <div class="name nameborder"><span>71113211魏远卓</span></div>
            <div class="name" ><span>71113106陈建蓉</span></div>
        </div>
    </div>
</footer>
</body>
</html>