{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
	<section id="helpcenter" class="mycontainer">
		<div class="bookTabs">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">项目简介</a></li>
				<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">联系我们</a></li>
				<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">使用手册</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active content_margin" id="home">
					<h4>1.工作内容</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本项目为一个网上书店。用户通过浏览网站，可以看到最新上架的书籍，包括：书籍名称、作者、上架时间、价格、销量、余量等等
						。用户可以点击查看详情或添加到购物车。普通用户没有生成订单的权限，可以通过注册升级为会员。普通用户可以查看和维护自己的购物车
						会员还可以查看和维护自己的订单。该网站还提供了搜索书籍的功能，可以根据书籍ISBN、书籍名称或者作者搜索。用户还可以在帮助中心联系我们，提出意见。此外，该项目还提供了管理员功能，管理员能够管理用户信息、书籍信息和订单信息。</p>
					<h4>2.条件和限制</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目开发平台：Sublime</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已具备条件：项目功能基本实现，界面美观，用户体验度高</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为具备条件：暂无</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;完成日期：2016年1月10日</p>
					<h4>3.产品</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品名称：Online BookStore</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开发语言：Python+JavaScript</p>
					<h4>4.文档</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目需求分析报告，项目设计报告，数据库设计报告，产品源代码</p>
					<h4>5.运行环境</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Windows8、10</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">...</div>
				<div role="tabpanel" class="tab-pane" id="messages">...</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="row myfooter">
			<div class="row footerrow">
				<div class="col-sm-1 "><a href="/">首页</a></div>
				<div class="col-sm-1"><a href="">新用户注册</a></div>
				<div class="col-sm-1"><a href="">搜索书籍</a></div>
				<div class="col-sm-1"><a href="shoppingchart">我的购物车</a></div>
				<div class="col-sm-1"><a href="">帮助中心</a></div>
				<div class="col-sm-offset-9">
					<a href="" class="icon-github-alt footericon"></a>
					<a href="" class="icon-twitter-sign footericon"></a>
				</div>
			</div>
			<div class="row footerrow2">
				<div class="col-sm-1" style="text-align:left"><img style="width:130%;margin-left:25px " src="../static/img/footer.png"></div>
				<div class="col-sm-4 col-sm-offset-3" style="text-align:right"><span>Copyright © ONLINE BOOKSTOR 我的网上书店</span></div>
				<div class="name" ><span style="color:#669999">71Y13123梁界</span></div>
				<div class="name nameborder"><span style="color:#CC6666">71113211魏远卓</span></div>
				<div class="name" ><span style="color:#666699">71113106陈建蓉</span></div>
			</div>
		</div>
	</footer>
{% end %}
</body>
</html>