{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
	<section id="books" class="mycontainer">
		<div class="bookTabs">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#hotBooks" aria-controls="home" role="tab" data-toggle="tab">最新上架</a></li>
				<!-- 			<li role="presentation"><a href="#newBooks" aria-controls="profile" role="tab" data-toggle="tab">最新上架</a></li> -->
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="hotBooks">
					<ul class="list-group" id="homeBookUl">

					</ul>
				</div>
			</div>
		<div class="page row">
			<button class="col-sm-offset-1 col-sm-1 btn btn-info btn-sm lastp"><label class="icon-arrow-left" ></label>&nbsp;上一页</button>
			<button class="col-sm-offset-8 col-sm-1 btn btn-info btn-sm nextp" style="margin-right:15px">下一页&nbsp;<label class="icon-arrow-right" ></label></button>
		</div>
		</div>
	</section>
	<footer>
		<div class="row myfooter">
			<div class="row footerrow">
				<div class="col-sm-1 "><a href="/">首页</a></div>
				<div class="col-sm-1"><a href="">新用户注册</a></div>
				<div class="col-sm-1"><a href="">搜索书籍</a></div>
				<div class="col-sm-1"><a href="shoppingchart">我的购物车</a></div>
				<div class="col-sm-1"><a href="">帮助中心</a></div>
				<div class="col-sm-offset-9">
					<a href="" class="icon-github-alt footericon"></a>
					<a href="" class="icon-twitter-sign footericon"></a>
				</div>
			</div>
			<div class="row footerrow2">
				<div class="col-sm-1" style="text-align:left"><img style="width:130%;margin-left:25px " src="../static/img/footer.png"></div>
				<div class="col-sm-4 col-sm-offset-3" style="text-align:right"><span>Copyright © ONLINE BOOKSTOR 我的网上书店</span></div>
				<div class="name" ><span style="color:#669999">71Y13123梁界</span></div>
				<div class="name nameborder"><span style="color:#CC6666">71113211魏远卓</span></div>
				<div class="name" ><span style="color:#666699">71113106陈建蓉</span></div>
			</div>
		</div>
	</footer>
{% end %}
</body>
</html>