<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>网上书店管理页面</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/date.js"></script>
    <script type="text/javascript" src="../static/js/js.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="tab1" id="tab1">
        <div class="menu">
          <ul class="nav">
            <li id="one0" onclick="setTab('one',4,3)"><a href="#"><img src="../static/images/1430958346122214_06.png">
              <p>首页</p>
            </a></li>
            <li  id="one1" onclick="setTab('one',1,3)"><a href="#"><img src="../static/images/14309583461214_08.png">
              <p>订单管理</p>
            </a></li>
            <li id="one2" onclick="setTab('one',2,3)"><a href="#"><img src="../static/images/14309583461214_18.png">
              <p>书籍管理</p>
            </a></li>
            <li id="one3" onclick="setTab('one',3,3)"><a href="#"><img src="../static/images/14309583461214_06.png">
              <p>用户信息管理</p>
            </a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="content" id="con_one_4" style="display:block;">
      <div class="meduo" id="non_login" style="display:block;">
        
        <div class="row index_login hyy">
          <div class="col-sm-2 col-sm-offset-4 picpic">
            <img id="picpic"  width="100%" src="../static/images/123.jpg">
          </div>
          <div class="col-sm-6 row rowad">
            
            <div class="col-sm-5">
              <h3>登 录 · LOG IN</h3>
              <div class="form-group">
                <input type="text" id="admin_id" class="form-control" placeholder="请输入管理员账号">
              </div>
              
              
              <div class="form-group">
                <input type="password" id="admin_psw" class="form-control" placeholder="请输入密码">
              </div>
              
              <div class="form-group">
                <input type="submit" id="submit" class="col-sm-12 btn btn-info form-control" value="确认登录" >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="meduo" id="logined" style="display:none;">
        <div class="hyy">
          <p >欢迎使用网上书店后台管理</p>
          
        </div>
        <div class="row rowad">
          <img class="col-sm-4" id="picpic" src="../static/images/124.png">
        </div>
      </div>
    </div>
    <div class="content" id="con_one_1" style="display:none;">
      <div class="left-column">
        <div class="service">
          <h5>订单管理</h5>
        </div>
        <div class="tab2" id="tab2">
          <dl class="call">
            <div class="medo">
              <dt>订单处理</dt>
              
              <dd id="column1" onclick="setTab('column',1,4)"><a href="#">修改订单信息</a></dd>
              <dd id="column2" onclick="setTab('column',2,4)"><a href="#">！删除订单！</a></dd>
              <dt>订单查询</dt>
              
              <dd id="column3" onclick="setTab('column',3,4)" ><a href="#">查看订单信息</a></dd>
              <dd id="column4" onclick="setTab('column',4,4)"><a href="#">历史订单信息</a></dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="meduo">
        <div class="right-content" id="con_column_1"  >
          <center>
          <span style="font-size:100px;"> 1</span>
          </center>
          
        </div>
        <div class="right-content" id="con_column_2" style="display:none">
          <center>
           <h3>！删除订单！</h3>
          <div class="row book_info">
            <div class="row col-sm-6 col-sm-offset-3 ">
              <div class="col-sm-6 form-group">
                <p class="add_book_info"> 订单号:</p>
                <input type="text" id="order_delete" class="form-control" placeholder="请输入订单号">
              </div>
              <div class="col-sm-6 form-group">
                <input type="submit" id="deleteorder" class="col-sm-12 btn btn-danger form-control" value="确认删除" />
              </div>
            </div>
          </div>
          </center>
        </div>
        <div class="right-content" id="con_column_3" style="display:none">
          <center>
          <span style="font-size:100px;"> 3</span>
          </center>
        </div>
        <div class="right-content" id="con_column_4" style="display:none">
          <center>
          <span style="font-size:100px;"> 4</span>
          </center>
        </div>
      </div>
    </div>
    <div class="content"id="con_one_2" style="display:none;">
      <div class="left-column">
        <div class="service">
          <h5>书籍管理</h5>
        </div>
        <div class="tab3" id="tab3">
          <dl class="call">
            <div class="medo medo1">
              <dt>信息管理</dt>
              <dd id="colum1" onclick="setTab('colum',1,5);allbook()" ><a href="#">所有书籍信息</a></dd>
              <dd id="colum2" onclick="setTab('colum',2,5)" ><a href="#">查看书籍信息</a></dd>
              <dd id="colum3" onclick="setTab('colum',3,5)"><a href="#">修改书籍信息</a></dd>
              <dt>库存管理</dt>
              <dd id="colum4" onclick="setTab('colum',4,5)"><a href="#">增加书籍信息</a></dd>
              <dd id="colum5" onclick="setTab('colum',5,5)"><a href="#">删除书籍信息</a></dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="meduo meduo1">
        <div class="right-content" id="con_colum_1"  >
          <center>
          <div class="table_con">
            <table>
              <tr class="tb_title">
                <td width="6%">ISDN</td>
                <td width="10%">书籍名称</td>
                <td width="10%">书籍图片</td>
                <td width="10%">书籍作者</td>
                <td width="10%">书籍价格</td>
                <td width="10%">已售数量</td>
                <td width="10%">库存数量</td>
                <td width="8%">上架时间</td>
                <td width="8%">出版时间</td>
                <td width="10%">书籍状态</td>
                <td width="10%">书籍简介</td>
              </tr>
              <tr>
                <td width="6%">ISDN</td>
                <td width="10%">书籍名称</td>
                <td width="10%">书籍图片</td>
                <td width="10%">书籍作者</td>
                <td width="10%">书籍价格</td>
                <td width="10%">已售数量</td>
                <td width="10%">库存数量</td>
                <td width="8%">上架时间</td>
                <td width="8%">出版时间</td>
                <td width="10%">书籍状态</td>
                <td width="10%">书籍简介</td>
              </tr>
              <tr>
                <td width="6%">ISDN</td>
                <td width="10%">书籍名称</td>
                <td width="10%">书籍图片</td>
                <td width="10%">书籍作者</td>
                <td width="10%">书籍价格</td>
                <td width="10%">已售数量</td>
                <td width="10%">库存数量</td>
                <td width="8%">上架时间</td>
                <td width="8%">出版时间</td>
                <td width="10%">书籍状态</td>
                <td width="10%">书籍简介</td>
              </tr>
              <!--  <tr>
                <td width="10%">445</td>
                <td width="30%">书3</td>
                <td width="12%">19/100</td>
                <td width="12%">78/100</td>
                <td width="10%">—</td>
                <td width="26%">
                  <input class="bj_btn" type="button" value="编辑" />
                  <input class="sj_btn" type="button" value="上架" />
                  <input class="del_btn" type="button" value="删除" />
                </td>
              </tr> -->
            </table>
          </div>
          </center>
        </div>
        <div class="right-content" id="con_colum_2" style="display:none">
          <center>
          <h3>查找书籍信息</h3>
          <div class="row book_info">
            <div class="row col-sm-6 col-sm-offset-3 ">
              <div class="col-sm-6 form-group">
                <p class="add_book_info"> ISDN:</p>
                <input type="text" id="sbook_isbn" class="form-control" placeholder="请输入书籍ISDN"/>
              </div>
              <div class="col-sm-6 form-group">
                <input type="submit" id="sebook" class="col-sm-12 btn btn-primary form-control" value="查找书籍" />
              </div>
            </div>
          </div>
          </center>
        </div>
        <div class="right-content" id="con_colum_3" style="display:none">
          <center>
          <h3>修改书籍信息</h3>
          <div class="row book_info">
            <div class="row col-sm-6 col-sm-offset-3 ">
              <div class="col-sm-6 form-group">
                <p class="add_book_info"> ISDN:</p>
                <input type="text" id="ubook_isbn" class="form-control" placeholder="请输入书籍ISDN">
              </div>
              <div class="col-sm-6 form-group">
                <input type="submit" id="upbook" class="col-sm-12 btn btn-primary form-control" value="查找书籍" />
              </div>
            </div>
          </div>
          <div class="row book_info" id="update_book_block" style="display:none" >
            <div class="row col-sm-10 col-sm-offset-1 ">
              <div class="col-sm-4 form-group">
                <p class="add_book_info"> 书籍名称:</p>
                <input type="text" id="ubook_name" class="form-control" placeholder="请输入书籍名称">
                <p class="add_book_info"> 书籍作者:</p>
                <input type="text" id="ubook_author" class="form-control" placeholder="请输入书籍作者">
                <p class="add_book_info"> 书籍简介:</p>
                <input type="text" id="ubook_note" class="form-control" placeholder="请输入书籍简介">
              </div>
              <div class="col-sm-4 form-group">
                <p class="add_book_info"> 书籍价格:</p>
                <input type="text" id="ubook_price" class="form-control" placeholder="请输入书籍价格">
                
                <p class="add_book_info"> 书籍数量:</p>
                <input type="text" id="ubook_remainnum" class="form-control" placeholder="请输入书籍数量">
                <p class="add_book_info"> 出版时间:</p>
                
                <input type="text" id="ubook_time" class="form-control" placeholder="请输入书籍出版时间">
              </div>
              <div class="col-sm-4  form-group">
                
                
                <p class="add_book_info"> 书籍状态:</p>
                <input type="text" id="ubook_active" class="form-control" placeholder="请输入状态,1为上架,0为未上架.">
                <p class="add_book_info"> 上架时间:</p>
                <input type="text" id="ubook_shelftime" class="form-control" placeholder="请输入上架时间,格式2016-01-01">
                <p class="add_book_info"> 书籍图片链接:</p>
                <input type="text" id="ubook_pic" class="form-control" placeholder="请输入书籍图片链接">
              </div>
              <div class="col-sm-6 col-sm-offset-3  form-group">
                <input type="submit" id="updatebook" class="col-sm-12 btn btn-info form-control" value="确认修改" />
              </div>
            </div>
          </div>
          
          </center>
        </div>
        
        <div class="right-content" id="con_colum_4" style="display:none">
          <center>
          <h3>填写书籍信息</h3>
          <div class="row book_info">
            <div class="row col-sm-10 col-sm-offset-1 ">
              <div class="col-sm-4 form-group">
                <p class="add_book_info"> ISDN:</p>
                <input type="text" id="book_isbn" class="form-control" placeholder="请输入书籍ISDN">
                <p class="add_book_info"> 书籍名称:</p>
                <input type="text" id="book_name" class="form-control" placeholder="请输入书籍名称">
                <p class="add_book_info"> 书籍作者:</p>
                <input type="text" id="book_author" class="form-control" placeholder="请输入书籍作者">
                
              </div>
              <div class="col-sm-4 form-group">
                <p class="add_book_info"> 书籍价格:</p>
                <input type="text" id="book_price" class="form-control" placeholder="请输入书籍价格">
                
                <p class="add_book_info"> 书籍数量:</p>
                <input type="text" id="book_remainnum" class="form-control" placeholder="请输入书籍数量">
                <p class="add_book_info"> 出版时间:</p>
                
                <input type="text" id="book_time" class="form-control" placeholder="请输入书籍出版时间">
              </div>
              <div class="col-sm-4  form-group">
                
                <p class="add_book_info"> 书籍简介:</p>
                <input type="text" id="book_note" class="form-control" placeholder="请输入书籍简介">
                <p class="add_book_info"> 书籍状态:</p>
                <input type="text" id="book_active" class="form-control" placeholder="请输入状态,1为上架,0为未上架.">
                <p class="add_book_info"> 上架时间:</p>
                <input type="text" id="book_shelftime" class="form-control" placeholder="请输入上架时间,格式2016-01-01">
              </div>
              <div class="col-sm-4  form-group">
                <p class="add_book_info"> 书籍图片链接:</p>
                <input type="text" id="book_pic" class="form-control" placeholder="请输入书籍图片链接">
              </div>
              <div class="col-sm-8  form-group">
                <input type="submit" id="addbook" class="col-sm-12 btn btn-info form-control" value="确认添加" />
              </div>
            </div>
          </div>
          
          </center>
        </div>
        <div class="right-content" id="con_colum_5" style="display:none">
          <center>
          <h3>删除书籍信息</h3>
          <div class="row book_info">
            <div class="row col-sm-6 col-sm-offset-3 ">
              <div class="col-sm-6 form-group">
                <p class="add_book_info"> ISDN:</p>
                <input type="text" id="book_isbn_delete" class="form-control" placeholder="请输入书籍ISDN">
              </div>
              <div class="col-sm-6 form-group">
                <input type="submit" id="deletebook" class="col-sm-12 btn btn-danger form-control" value="确认删除" />
              </div>
            </div>
          </div>
          </center>
        </div>
        
      </div>
      
    </div>
    <div class="content"id="con_one_3" style="display:none;">
      <div class="left-column">
        <div class="service">
          <h5>用户管理</h5>
        </div>
        <div class="tab4" id="tab4">
          <dl class="call">
            <div class="medo medo2">
              <dt>用户信息管理</dt>
              <dd id="colun1" onclick="setTab('colun',1,2)" ><a href="#">所有用户信息</a></dd>
              <dd id="colun2" onclick="setTab('colun',2,2)" ><a href="#">！删除用户！</a></dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="meduo meduo2">
        <div class="right-content" id="con_colun_1" style="display:none" >
          <center>
          <span style="font-size:100px;"> 13</span>
          </center>
        </div>
        <div class="right-content" id="con_colun_2" style="display:none">
          <center>
          <h3>！删除用户！</h3>
          <div class="row book_info">
            <div class="row col-sm-6 col-sm-offset-3 ">
              <div class="col-sm-6 form-group">
                <p class="add_book_info"> 用户手机号:</p>
                <input type="text" id="user_delete" class="form-control" placeholder="请输入用户手机号">
              </div>
              <div class="col-sm-6 form-group">
                <input type="submit" id="deleteuser" class="col-sm-12 btn btn-danger form-control" value="确认删除" />
              </div>
            </div>
          </div>
          </center>
        </div>
        
      </div>
    </div>
    <div style="text-align:center;">
      <h4>网上书店 · 管理员界面 · 71113106_71113211_71Y13123</h4>
    </div>
    {% if user %}
      <input type="hidden" id="user_value" value="{{user.name}}">
    {% else %}
      <input type="hidden" id="user_value" value="">
    {% end %}
  </body>
</html>