{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
	<section id="shoppingchart">
		<div class="chart_div">
			<div class="row">
				<h4>我的购物车</h4>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-1 checkBox">
							<label>
								<input type="checkbox">
							</label>
						</div>
						<div class="col-sm-2 chartImg">
							<img src="../static/img/books_2.png">
						</div>
						<div class="col-sm-3">
							<div class="row">
								书籍名称:&nbsp;&nbsp;<span>haha舒服舒服撒发生飞洒地方ha</span>
							</div>
							<div class="row">
								作者:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								余量:&nbsp;&nbsp;<span>hahaha</span>
							</div>
							<div class="row">
								单价:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								购买数量:&nbsp;&nbsp;<label class="icon-minus" onclick="cutNum()"></label>&nbsp;&nbsp;<span id="id4" style="font-size:1.1rem;">1</span>&nbsp;&nbsp;<label class="icon-plus" onclick="addNum()"></label>
							</div>
							<div class="row">
								总价:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								<button class="btn btn-sm btn-danger">删 除</button>
							</div>
							<div class="row">
								<a class="btn btn-sm btn-warning" href="confirmOrder">下 单</a>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-1 checkBox">
							<label>
								<input type="checkbox">
							</label>
						</div>
						<div class="col-sm-2 chartImg">
							<img src="../static/img/books_2.png">
						</div>
						<div class="col-sm-3">
							<div class="row">
								书籍名称:&nbsp;&nbsp;<span>haha舒服舒服撒发生飞洒地方ha</span>
							</div>
							<div class="row">
								作者:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								余量:&nbsp;&nbsp;<span>hahaha</span>
							</div>
							<div class="row">
								单价:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								购买数量:&nbsp;&nbsp;<span>hahaha</span>
							</div>
							<div class="row">
								总价:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								<button class="btn btn-sm btn-danger">删 除</button>
							</div>
							<div class="row">
								<button class="btn btn-sm btn-warning" href="confirmOrder">下 单</button>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-1 checkBox">
							<label>
								<input type="checkbox">
							</label>
						</div>
						<div class="col-sm-2 chartImg">
							<img src="../static/img/books_2.png">
						</div>
						<div class="col-sm-3">
							<div class="row">
								书籍名称:&nbsp;&nbsp;<span>haha舒服舒服撒发生飞洒地方ha</span>
							</div>
							<div class="row">
								作者:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								余量:&nbsp;&nbsp;<span>hahaha</span>
							</div>
							<div class="row">
								单价:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								购买数量:&nbsp;&nbsp;<span>hahaha</span>
							</div>
							<div class="row">
								总价:&nbsp;&nbsp;<span>hahaha</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="row">
								<button class="btn btn-sm btn-danger">删 除</button>
							</div>
							<div class="row">
								<a class="btn btn-sm btn-warning" href="confirmOrder">下 单</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
<!-- 		<div class="confirmChart">
			<a class="btn btn-info" href="confirmOrder">去下单</a>
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p>success or error</p>
			</div>
		</div> -->
	</section>
{% end %}