{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
	<section id="shoppingchart">
		<div class="chart_div">
			<h5>我的购物车</h5>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-2">
							<img src="../static/img/books_2.png">
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-2">
							<img src="../static/img/books_2.png">
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-2">
							<img src="../static/img/books_2.png">
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"></div>
					</div>
				</li>
			</ul>
		</div>
	</section>
{% end %}